{% extends 'class/layout.html' %}
{% block body %}
<h3 class="text-center m-4">Update Student</h3>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-light fa-pen-to-square fa-lg"></i> 
                Update Student Record
            </div>
            <!-- {{form.as_p}} -->
            <div class="card-body">                    
                <form method="POST">
                    {% csrf_token %}

                    {{form.as_p}}

                    <button type="submit" class="btn btn-primary"> Update </button>
                    <a href="{% url 'index' %}" class="btn btn-danger">Cancel</a>
                </form>                    
            </div>
        </div>
    </div>
</div>         
{% endblock %}
